<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  

  <div id="players" class="ui celled striped three column green sortable table" ng-grid="gridOptions"></div>
  <div class="ui cards">
    <div class="card" ng-repeat="mySelection in mySelections">
      <div class="image">
        <!--img ng-if="mySelection.team == 'East' " src="http://placehold.it/290x290/ff0000/ffffff&text=EAST" alt="{{mySelection.name}} - {{mySelection.team}}" width="290" height="290">
        <img ng-if="mySelection.team == 'West' " src="http://placehold.it/290x290/0000ff/ffffff&text=WEST" alt="{{mySelection.name}} - {{mySelection.team}}" width="290" height="290"-->
        <img ng-if="mySelection.photo !== null " src="{{mySelection.photo}}" alt="{{mySelection.name}} - {{mySelection.team}}" width="290" height="290">
      </div>
      <div class="content">
        <div class="header">{{mySelection.name}}</div>
        <div class="meta">
          <span class="date">Age: {{mySelection.age}}</span>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias totam quia maiores hic omnis, quam voluptate aspernatur ipsa ut quaerat fuga ea nemo magnam sunt, amet mollitia recusandae unde? Illum.
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="trophy icon"></i>
          {{mySelection.team}}
        </a>
      </div>
    </div>
  </div>
</div>
